---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { Image } from 'astro:assets';
import HeadShot from "../asset/twitter_profile.jpg";
---
<Layout title="About Me" description='About Me' sideBarActiveItemID='about'>
    <div>
        <!--Title -->
        <div class="text-3xl">About Me</div>
        <!--The first section will be a headshot and a short summary text -->
        <div id="summary_intro" class="flex flex-row flex-wrap my-8">
            <!--Headshot -->
            <div class="avatar mx-5 w-64 flex-wrap">
                <div class="rounded-full">
                    <Image
                        src={HeadShot}
                        alt='My headshot'
                    />
                </div>
                <!--Little Badges -->
                <div class="w-64 h-16">
                    <div class="badge">HTML</div>
                    <div class="badge badge-neutral">Python</div>
                    <div class="badge badge-primary">Javascript</div>
                    <div class="badge badge-secondary">Front End</div>
                    <div class="badge badge-accent">Database</div>
                    <div class="badge badge-ghost">AI</div>
                </div>
                
            </div>

            <!--Introduce myself -->
            <div class="lg:w-1/2 w-11/12">
                <div class="text-xl">
                    Welcome to my blog site! I am
                </div>
                <div class="lg:text-3xl text-2xl whitespace-nowrap">
                    Muhammad Aiman Shamsiemon
                </div>
                <div class="lg:text-2xl text-xl">
                    Software Engineer and Life-Long Learner
                </div>
                <div class="text-justify text-l">
                    I am a Software Engineering with a passion in coding, and ReactJS. I am passionate to learn about coding, and website development. I have another blog before this that I have taken down. It was built using Jekyll but, I wanted a blog built on ReactJS and AstroJS fits that requirement like a glove.
                </div>
            </div>
        </div>
        <!--End of Section -->

         <!--The next section will the education built using the Timeline from daisyui -->
         <div id="timeline_education" class="my-8">
            <!--title -->
            <div class="text-3xl">
                Education
            </div>

            <!--Timeline -->
            <div class="self-center">
                <ul class="timeline  timeline-snap-icon max-md:timeline-compact timeline-vertical">
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-start md:text-end mb-10">
                        <time class="font-mono italic">2023</time>
                        <div class="text-lg font-black">Monash University Malaysia</div>
                        Bachelor of Software Engineering (Hons.) <br>
                        3.83
                        </div>
                        <hr/>
                    </li>
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-end mb-10">
                        <time class="font-mono italic">2019</time>
                        <div class="text-lg font-black">Sunway College</div>
                        Monash University Foundation Year
                        </div>
                        <hr/>
                    </li>
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-start md:text-end mb-10">
                        <time class="font-mono italic">2017</time>
                        <div class="text-lg font-black">Permodalan Nasional Berhad</div>
                        Awarded Foreign Local University Scholarship Award
                        </div>
                        <hr/>
                    </li>
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-end mb-10">
                        <time class="font-mono italic">2017</time>
                        <div class="text-lg font-black">MRSM Pengkalan Chepa</div>
                        Sijil Pelajaran Malaysia <br>
                        8A+ 1A
                        </div>
                        <hr/>
                    </li>
                </ul>
            </div>
        </div> 
        <!--End of section -->

        <!--Work Experience -->
        <div id="Experience" class="my-8">
            <!--title -->
            <div class="text-3xl">
                Experience
            </div>

            <!--Timeline -->
            <div class="self-center">
                <ul class="timeline  timeline-snap-icon max-md:timeline-compact timeline-vertical">
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-end mb-10">
                            <time class="font-mono italic">Feb. 2024 - Now</time>
                            <div class="text-lg font-black">Principal Asset Management Berhad</div>
                            <div class="text-justify">
                                Software Engineer<br><br>
                                <div class="ml-5">
                                    <ul class='list-disc'>
                                        <li>Perform daily system maintenance and transactional upkeep</li>
                                        <li>Work along an international team to develop an application for Unit Trust funds</li>
                                        <li>Work along multiple companies to cater for the need of the applications, FPX for payment processing and TNG for application hosting</li>
                                        <li>Analyse business and legal requirement, ensuring applications follows the required security requirements, and business logic required</li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <hr/>
                    </li>
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-start md:text-end mb-10">
                            <time class="font-mono italic">Nov. 2022 - Feb. 2023</time>
                            <div class="text-lg font-black">WonderPod Sdn. Bhd.</div>
                            <div class=""> System Research (Trainee)</div> <br>
                            <div class="text-justify">
                            Manage and enhance front-end aspects of WordPress websites, emphasizing vigilant monitoring on Amazon Web Services, tasks such as renewing security certificates and prompt restarts during downtime.
                            </div>  
                        </div>
                        <hr/>
                    </li>
                </ul>
            </div>
            <!--End of section -->
        </div>

            <!--Projects -->
        <div id="Experience">
            <!--title -->
            <div class="text-3xl">
                Projects
            </div>

            <!--Timeline -->
            <div class="self-center">
                <ul class="timeline  timeline-snap-icon max-md:timeline-compact timeline-vertical">
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-start md:text-end mb-10">
                            <time class="font-mono italic">Feb. 2021 - Nov. 2022</time>
                            <div class="text-lg font-black">Seizure Prediction and Prevention</div>
                            <div>Two ReactJS applications, 1 Firebase server</div><br>
                            <div class="text-justify">
                                Lead collaborative efforts in designing and developing a front-end application aimed at aiding doctors in monitoring patient signs. Develop a ReactJS-based dashboard for doctors, proficiently retrieving data from a centralized Firebase server through webhooks and RESTful APIs. Additionally, design, maintain, and enhance a mobile application serving as a data collection tool for patients, leveraging ReactJS and RESTful APIs for optimal functionality.
                            </div>
                        </div>
                        <hr/>
                    </li>
                    <li>
                        <div class="timeline-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                        </div>
                        <div class="timeline-end mb-10">
                            <time class="font-mono italic">August. 2022 - Nov. 2022</time>
                            <div class="text-lg font-black">Secure Coding for Software Developers</div>
                            <div class="text-justify">
                                Final Year Projects<br><br>
                                Conduct in-depth investigations into the influence of diversity and corporate training initiatives on programmers' adherence to secure coding guidelines. Methodically gather and analyze data to ascertain effective training methodologies that promote programmers' compliance with stringent security guidelines. Leverage insights to contribute to the development of comprehensive strategies for fostering a secure coding environment within diverse and dynamic corporate settings.
                            </div>
                        </div>
                        <hr/>
                    </li>
                </ul>
            </div>
            <!--End of section -->
        </div>
    </div>
    
</Layout>