---
import { Image } from "astro:assets";
import {
  BackgroundImage,
  ImageSupportDetection,
} from "astro-imagetools/components";
import background_header from '../asset/bakground_header.jpeg'
import abs_icon from '../asset/favicon.png'
---

<header class="main-header">
    <div class="bg-image"></div>
    <a href="/astro-blog" id="header-title-card">
        <Image src={abs_icon} id="header_icon" alt="A logo with the letters ABS in it" />
        <h1>Aiman's Blog</span></h1>
    </a>
</header>


<style>
main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}
.astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}
.instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}
.instructions strong {
    color: rgb(var(--accent-light));
}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
}
a#header-title-card{
    color: rgb(41, 58, 46);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
header.main-header{
    background-image: url("/astro-blog/src/asset/bakground_header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1rem rgba(var(--accent-light), 25%) solid;
    width: 100%;
}

img#header_icon {
    width: auto;
    max-height: 15rem;
}
</style>