---
const {onValueChange} = Astro.props as any;
---

<script>
    // handling the value change
    //find the select
    const elementSelect = document.querySelectorAll('select.selectSort');

    //handle change on each elementSelect
    elementSelect.forEach((select) => {
        select.addEventListener('change', (event) => {
            const selectedValue = event.target.value;
            console.log('Changed to:', selectedValue);
            //onValueChange(selectedValue);
        })
    })
</script>

<select class="selectSort select select-bordered">
    <option disabled selected>Select Sorting Option</option>
    <option>New</option>
    <option>Old</option>
</select>