---
import Header from '../components/Header.astro';
import BaseHead from '../components/baseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

interface Props {
	title: string;
	description: string
}

const { title = SITE_TITLE, description=SITE_DESCRIPTION} = Astro.props;
---

<html>
	<head>
		<BaseHead title={title} description={description}></BaseHead>
	</head>
	<main>
		<div class="drawer-content bg-base-100">
			<Header></Header>
		<div class="md:flex md:justify-center">
	</main>
	
</html>


